.side-bar {
    background: #FFFFFF;
    height: 100vh;
    width: 76px;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
    transition: .2s;
}

.side-bar-item-wrap {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 56px;
}

.side-bar-item {
    /*width: 100%;*/
    height: 48px;
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #242446;
    padding-left: 30px;
}

.side-bar-item--selected {
    background: #E9EDFE;
    border-right: 2px solid #0364FF;
}

.side-bar-item-name {
    padding-left: 10px;
    /*display: none;*/
    visibility: hidden;
}

.side-bar--active {
    width: 20%;
}

.side-bar--active .side-bar-item-name {
    /*display: block;*/
    visibility: visible;
}
